body {
  background: url("images/2.JPG") no-repeat center center fixed;
  background-size: cover;
}
.title {
  text-align: center;
  font-family: "Mochiy Pop P One", sans-serif;
  color: rgb(65, 62, 65);
  font-size: 50px;
  font-weight: bolder;
  text-shadow: 6px 6px 6px rgb(244, 238, 245);
  margin-bottom: 10px;
  margin-top: 0;
  grid-column: 1 / span3;
  grid-row: 1;
}
.bonustitle {
  text-align: center;
  font-family: "Mochiy Pop P One", sans-serif;
  color: rgb(66, 64, 63);
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 6px 6px 6px rgb(245, 242, 241);
  margin-bottom: 30px;
  margin-top: 20px;
  font-style: italic;
}
.status {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 7px;
}
.timebar {
  grid-column: 1;
  grid-row: 2;
  margin-left: 30px;
  margin-bottom: 0;
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 20px;
  color: rgb(49, 48, 48);
  text-shadow: 2px 2px 2px white;
}
.scorebar {
  grid-column: 3;
  grid-row: 2;
  margin-right: 30px;
  margin-bottom: 0;
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 20px;
  color: rgb(49, 48, 48);
  text-shadow: 2px 2px 2px white;
}

.card {
  height: 120px;
  width: 75px;
  position: relative;
}
.allcard {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 18px;
  justify-content: center;
}
.cardpic {
  position: absolute;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.back {
  background-color: #f7e6e4;
  border: 1px solid black;
}
.front {
  background-color: rgb(237, 249, 253);
  border: 1px solid black;
}
.allcard.hide .back {
  display: none;
}

.card.hide .back {
  display: none;
}
.card.match .back {
  display: none;
}
#click {
  font-size: 1.5em;
  background-color: salmon;
  border-radius: 10px;
  text-shadow: 2px 2px 2px white;
  border: 3px solid black;
  font-family: "Mochiy Pop P One", sans-serif;
}
#restart {
  width: 220px;
  height: 60px;
  font-size: 25px;
  border-radius: 10px;
  margin-left: 5%;
  margin-bottom: 10px;
  margin-top: 30px;
  background-color: rgb(238, 157, 148);
  text-shadow: 2px 2px 2px white;
  border: 3px solid black;
  font-family: "Mochiy Pop P One", sans-serif;
}
#daily {
  width: 300px;
  height: 60px;
  font-size: 25px;
  border-radius: 10px;
  margin-left: 5%;
  margin-bottom: 50px;
  margin-top: 5px;
  background-color: #facb9f;
  text-shadow: 2px 2px 2px white;
  border: 3px solid black;
  font-family: "Mochiy Pop P One", sans-serif;
}

#over {
  margin: 50% auto;
  width: 200px;
  height: 80px;
  font-size: 50px;
  border-radius: 10px;
  background-color: salmon;
  text-shadow: 2px 2px 2px white;
  border: 3px solid black;
}

.card1 {
  height: 320px;
  width: 240px;
  position: relative;
}
.allcard1 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  justify-content: center;
}
.cardpic1 {
  position: absolute;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.back1 {
  background-color: rgb(43, 42, 42);
  border: 1px solid black;
}
.front1 {
  background-color: rgb(237, 249, 253);
  border: 1px solid black;
  overflow: hidden;
}
.allcard1.hide .back1 {
  display: none;
}
.card1.hide .back1 {
  display: none;
}

h5 {
  font-size: 0.7em;
  margin-top: 0;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: salmon;
  text-shadow: 3px 3px 3px rgb(244, 238, 245);
  font-family: "Mochiy Pop P One";
}
.overlay.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}
@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 2.8em;
  }
}

.card1 :hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media (min-width: 800px) {
  .allcard,
  .allcard1 {
    grid-template-columns: repeat(5, auto);
    grid-gap: 18px;
  }
  .card {
    height: 160px;
    width: 110px;
  }
  .card1 {
    height: 350px;
    width: 250px;
  }
  .title {
    font-size: 80px;
    margin-top: 20px;
  }
  .bonustitle {
    font-size: 80px;
    margin-top: 70px;
    margin-bottom: 100px;
  }
  .timebar {
    font-size: 35px;
    margin-left: 70px;
  }
  .scorebar {
    font-size: 35px;
    margin-right: 70px;
  }
  #restart {
    margin-left: 15%;
  }
  h5 {
    font-size: 1em;
  }
  h3 {
    font-size: 2em;
  }
}
